body {
  background-color: #a7deef;
  color: #ffffff;
width: 500px;
margin-right: auto;
margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #698ad2;
  border-style: none;
  color: #fdffff
}
input {
  height: 20px;
}